/ALGO/
/ANGLAIS/
/BDD/BDD 01. Introduction BDD (DWWM).pdf
/BDD/BDD 02. Tour dhorizon des bases de données.pdf
/BDD/BDD 03. Méthode Merise.pdf
/BDD/BDD 04a. Concevoir un MCD.pdf
/BDD/BDD 04b. Concevoir un MCD.pdf
/BDD/BDD 04c. Concevoir un MCD.pdf
/BDD/BDD 05a. Déduire un MLD.pdf
/BDD/BDD 05b. Déduire un MLD.pdf
/BDD/BDD 07. Créer une base de données.pdf
/BDD/BDD 08. Écrire dans une base de données.pdf
/BDD/BDD 09. Lire dans une base de données.pdf
/BDD/BDD 10. Architecture trois tiers.pdf
/BDD/BDD 11. Serveur, Moteur et interface de gestion.pdf
/BDD/BDD 13. Procédures stockées.pdf
/BDD/BDD 14. Vues.pdf
/BDD/BDD 95. Ordre des mot-clés dans une requête SELECT.pdf
/BDD/Memento SQL.pdf
/BDD/BDD Soft/
/Dossier professionnel à compléter [Ministère chargé de lemploi]-20211028/
/Inscription/
/EQUINOX_13280_PANKOV_Orizon.pdf
/Fiche examen - maquettage-PANKOV Nikolai.pdf
/FLASHINFO_2nd_semestre_2021.pdf
/Pankov_courrier-demande-SCRUM.pdf
/PJ - Business case_DWWM_2021.pdf
/PLANNING(1).pdf
/TRE/
/SCRUM/
/MAQUETTAGE/
/Dossier_professionnel_a_completer/
/HTML/
/HTML/SpicyDog/
/PLANNING.pdf
BDD/Examen 2/Explosions nucléaires (sujet).pdf
