/ALGO/
/ANGLAIS/
/BDD/BDD Soft/
/BDD/Theorie
/Dossier professionnel à compléter [Ministère chargé de lemploi]-20211028/
/Inscription/
/EQUINOX_13280_PANKOV_Orizon.pdf
/Fiche examen - maquettage-PANKOV Nikolai.pdf
/FLASHINFO_2nd_semestre_2021.pdf
/Pankov_courrier-demande-SCRUM.pdf
/PJ - Business case_DWWM_2021.pdf
/PLANNING.pdf
/TRE/
/SCRUM/
/MAQUETTAGE/
/Dossier_professionnel_a_completer/
/HTML
/.idea
/JAVASCRIPT/js-cheatsheet.pdf
/JAVASCRIPT/Fiche examen - javascript lotr-Nikolai PANKOV.pdf
/ANGULAR/D4/tp-webpack/node_modules
/ANGULAR/.idea
/ANGULAR/D6/helloword/node_modules
/CV Nikolai Pankov.pdf
