<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SpicyDog</title>

</head>
<body>

<div class="container">
  <div id="header" class="row">
    <div class="col-lg-3 my-3">
      <a href="index.html">
        <img src="./assets/img/logo.png" alt="">
      </a>
    </div>

    <div class="col-lg-6 d-flex justify-content-center align-items-center flex-column my-3">
      <p id="info-livraison">Livraison gratuit a partir de 50 €</p>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search sur SpicyDog" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <span class="input-group-text" id="basic-addon2">
            <span class="btn">
                <i class="bi bi-search"></i>
            </span>
        </span>
      </div>
    </div>

    <div class="col-lg-3 d-flex flex-column justify-content-center align-items-end my-3">
      <div class="row">
        <div class="col">
          <a id="conseille" href="tel:0102030405">Conseille  01 02 03 04 05</a>
        </div>
      </div>

      <div class="row my-2">
        <div class="col px-0">
          <div class="btn py-0">
            <!--<i class="bi bi-basket3"></i>-->
            <img src="./assets/img/icons/basket.png" alt="">
          </div>
          <div class="btn py-0">
            <img src="./assets/img/icons/userAcc.png" alt="">
            <!--<i class="bi bi-person"></i>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="navbar" class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col px-0">
        <ul class="nav my-2 d-flex justify-content-between">
          <li class="nav-item">
            <a class="nav-link px-0" href="#">Chien</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Chat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Poisson</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Oiseaux domestique</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-0" href="#">Voyage dans l'espace</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div id="sale"  class="row  my-3 ">
    <div class="col d-flex justify-content-center align-items-start flex-column">
      <p class="fw-bolder sale-border ms-4 px-2" >REDUCTION 40 %</p>
      <p class="fw-bolder sale-border ms-2 px-2" >POUR LE COLLECTION <br>DE VETEMENTS l’HIVER</p>
      <p class="fw-bolder sale-border ms-4 px-2" >DU CHIENS</p>
      <button type="button" class="btn my-button text-black m-4">Voir le catalogue</button>
    </div>
  </div>

  <div id="top-ventes" class="row flex-column">

    <div class="col title-category">
      <h2>Top ventes</h2>
    </div>

    <div class="col">
      <div class="row">
        <div class="col-3 p-3">
          <div class="col d-flex justify-content-center align-items-center">
            <img class="product-image" src="assets/img/products/1.jpg" alt="">
          </div>
          <div class="col product-title">
            OPTIMUS Adult Grain Free Fish Sans céréales au poisson pour Chien
          </div>
          <div class="col product-avis">
            <div class="row d-flex align-items-center">
              <div class="col d-flex justify-content-start">
                <img src="assets/img/icons/star.png" alt="">
                <img src="assets/img/icons/star.png" alt="">
                <img src="assets/img/icons/star.png" alt="">
                <img src="assets/img/icons/star.png" alt="">
                <img src="assets/img/icons/starWhite.png" alt="">
              </div>
              <div class="col d-flex justify-content-end">
                <a href="#">39 avis</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="row align-items-center">
              <div class="col d-flex align-items-center product-prix">
                48 €
              </div>
              <div class="col d-flex justify-content-end">
                <button type="button" class="btn my-little-button text-black">Acheter</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-3 p-3">
          <div class="col d-flex justify-content-center align-items-center">
            <img class="product-image" src="./assets/img/products/2.jpg" alt="">
          </div>
          <div class="col product-title">
            ROYAL CANIN Puppy Medium pour chiot moyen de 2 à 12 mois
          </div>
          <div class="col product-avis">
            <div class="row d-flex align-items-center">
              <div class="col d-flex justify-content-start">
                <img src="assets/img/icons/star.png" alt="">
                <img src="assets/img/icons/star.png" alt="">
                <img src="assets/img/icons/star.png" alt="">
                <img src="assets/img/icons/starWhite.png" alt="">
                <img src="assets/img/icons/starWhite.png" alt="">
              </div>
              <div class="col d-flex justify-content-end">
                <a href="#">15 avis</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="row align-items-center">
              <div class="col d-flex align-items-center product-prix">
                42 €
              </div>
              <div class="col d-flex justify-content-end">
                <button type="button" class="btn my-little-button text-black">Acheter</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-3 p-3">
          <div class="col d-flex justify-content-center align-items-center">
            <img class="product-image" src="assets/img/products/3.jpg" alt="">
          </div>
          <div class="col product-title">
            Witte Molen Puur Canari
          </div>
          <div class="col product-avis">
            <div class="row d-flex align-items-center">
              <div class="col d-flex justify-content-start">
                <img src="assets/img/icons/star.png" alt="">
                <img src="assets/img/icons/star.png" alt="">
                <img src="assets/img/icons/star.png" alt="">
                <img src="assets/img/icons/star.png" alt="">
                <img src="assets/img/icons/star.png" alt="">
              </div>
              <div class="col d-flex justify-content-end">
                <a href="#">5 avis</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="row align-items-center">
              <div class="col d-flex align-items-center product-prix">
                5 €
              </div>
              <div class="col d-flex justify-content-end">
                <button type="button" class="btn my-little-button text-black">Acheter</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-3 p-3">
          <div class="col d-flex justify-content-center align-items-center">
            <img class="product-image" src="assets/img/products/4.jpg" alt="">
          </div>
          <div class="col product-title">
            Techni-Cal Adult Cat Indoor croquettes pour chat adulte d'intérieur stérilisé
          </div>
          <div class="col product-avis">
            <div class="row d-flex align-items-center">
              <div class="col d-flex justify-content-start">
                <img src="assets/img/icons/star.png" alt="">
                <img src="assets/img/icons/star.png" alt="">
                <img src="assets/img/icons/star.png" alt="">
                <img src="assets/img/icons/star.png" alt="">
                <img src="assets/img/icons/starWhite.png" alt="">
              </div>
              <div class="col d-flex justify-content-end">
                <a href="#">150 avis</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="row align-items-center">
              <div class="col d-flex align-items-center product-prix">
                45 €
              </div>
              <div class="col d-flex justify-content-end">
                <button type="button" class="btn my-little-button text-black">Acheter</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="bons-plans" class="row flex-column">

    <div class="col title-category">
      <h2>Bons plans</h2>
    </div>

    <div class="col">
      <div class="row">
        <div class="col-3 p-3">
          <div class="col d-flex justify-content-center align-items-center">
            <img class="product-image" src="assets/img/products/1.jpg" alt="">
          </div>
          <div class="col product-title">
            OPTIMUS Adult Grain Free Fish Sans céréales au poisson pour Chien
          </div>
          <div class="col product-avis">
            <div class="row d-flex align-items-center">
              <div class="col d-flex justify-content-start">
                <img src="assets/img/icons/star.png" alt="">
                <img src="assets/img/icons/star.png" alt="">
                <img src="assets/img/icons/star.png" alt="">
                <img src="assets/img/icons/star.png" alt="">
                <img src="assets/img/icons/starWhite.png" alt="">
              </div>
              <div class="col d-flex justify-content-end">
                <a href="#">39 avis</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="row align-items-center">
              <div class="col d-flex align-items-center product-prix">
                48 €
              </div>
              <div class="col d-flex justify-content-end">
                <button type="button" class="btn my-little-button text-black">Acheter</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-3 p-3">
          <div class="col d-flex justify-content-center align-items-center">
            <img class="product-image" src="./assets/img/products/2.jpg" alt="">
          </div>
          <div class="col product-title">
            ROYAL CANIN Puppy Medium pour chiot moyen de 2 à 12 mois
          </div>
          <div class="col product-avis">
            <div class="row d-flex align-items-center">
              <div class="col d-flex justify-content-start">
                <img src="assets/img/icons/star.png" alt="">
                <img src="assets/img/icons/star.png" alt="">
                <img src="assets/img/icons/star.png" alt="">
                <img src="assets/img/icons/starWhite.png" alt="">
                <img src="assets/img/icons/starWhite.png" alt="">
              </div>
              <div class="col d-flex justify-content-end">
                <a href="#">15 avis</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="row align-items-center">
              <div class="col d-flex align-items-center product-prix">
                42 €
              </div>
              <div class="col d-flex justify-content-end">
                <button type="button" class="btn my-little-button text-black">Acheter</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-3 p-3">
          <div class="col d-flex justify-content-center align-items-center">
            <img class="product-image" src="assets/img/products/3.jpg" alt="">
          </div>
          <div class="col product-title">
            Witte Molen Puur Canari
          </div>
          <div class="col product-avis">
            <div class="row d-flex align-items-center">
              <div class="col d-flex justify-content-start">
                <img src="assets/img/icons/star.png" alt="">
                <img src="assets/img/icons/star.png" alt="">
                <img src="assets/img/icons/star.png" alt="">
                <img src="assets/img/icons/star.png" alt="">
                <img src="assets/img/icons/star.png" alt="">
              </div>
              <div class="col d-flex justify-content-end">
                <a href="#">5 avis</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="row align-items-center">
              <div class="col d-flex align-items-center product-prix">
                5 €
              </div>
              <div class="col d-flex justify-content-end">
                <button type="button" class="btn my-little-button text-black">Acheter</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-3 p-3">
          <div class="col d-flex justify-content-center align-items-center">
            <img class="product-image" src="assets/img/products/4.jpg" alt="">
          </div>
          <div class="col product-title">
            Techni-Cal Adult Cat Indoor croquettes pour chat adulte d'intérieur stérilisé
          </div>
          <div class="col product-avis">
            <div class="row d-flex align-items-center">
              <div class="col d-flex justify-content-start">
                <img src="assets/img/icons/star.png" alt="">
                <img src="assets/img/icons/star.png" alt="">
                <img src="assets/img/icons/star.png" alt="">
                <img src="assets/img/icons/star.png" alt="">
                <img src="assets/img/icons/starWhite.png" alt="">
              </div>
              <div class="col d-flex justify-content-end">
                <a href="#">150 avis</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="row align-items-center">
              <div class="col d-flex align-items-center product-prix">
                45 €
              </div>
              <div class="col d-flex justify-content-end">
                <button type="button" class="btn my-little-button text-black">Acheter</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div id="nos-marques" class="row flex-column">
    <div class="col title-category-centre d-flex justify-content-center">
      <h2 class="px-3">Nos marques</h2>
    </div>

    <div class="col mt-2">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner test">
          <div class="carousel-item active">
            <div class="row">
              <div class="col d-flex justify-content-center align-items-center marques">
                <a href="#"><img class="marques-image" src="assets/img/brands/Beaphar.png" alt="..."></a>
              </div>
              <div class="col d-flex justify-content-center align-items-center marques">
                <a href=""><img class="marques-image" src="assets/img/brands/bosh.jpg" alt="..."></a>
              </div>
              <div class="col d-flex justify-content-center align-items-center marques">
                <a href=""><img class="marques-image" src="assets/img/brands/Feliway.png" alt="..."></a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="row">
              <div class="col d-flex justify-content-center align-items-center marques">
                <a href="#"><img class="marques-image" src="assets/img/brands/Beaphar.png" alt="..."></a>
              </div>
              <div class="col d-flex justify-content-center align-items-center marques">
                <a href=""><img class="marques-image" src="assets/img/brands/bosh.jpg" alt="..."></a>
              </div>
              <div class="col d-flex justify-content-center align-items-center marques">
                <a href=""><img class="marques-image" src="assets/img/brands/Feliway.png" alt="..."></a>
              </div>
            </div>
          </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div id="reve-espace" class="row flex-column">
    <div class="col title-category-centre d-flex justify-content-center">
      <h2 class="px-3">Un rêve de l'espace ?</h2>
    </div>

    <div class="col">
      <div class="row mt-2">
        <div class="col d-flex">
          <img src="assets/img/spacex%201.png" alt="">
        </div>

        <div class="col d-flex justify-content-center align-items-center flex-column">
          <h2 class="my-4">Nous avons la solution pour votre l’animaux!</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. A condimentum et pellentesque etiam est arcu diam. Fringilla pellentesque mauris volutpat, ultricies erat. Lorem nibh eu pulvinar vel a, nunc ipsum, interdum. Placerat eget integer lacinia condimentum morbi. Purus nullam felis eget elit ut egestas nullam. In pretium egestas nunc netus non, ac.
            Risus augue vulputate nisl nunc semper purus.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="footer" class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col d-flex">
        <ul class="px-0">
          <li class="footer-name-category my-1">Catalog</li>
          <li><a class="footer-category" href="#">Chien</a></li>
          <li><a class="footer-category" href="#">Chat</a></li>
          <li><a class="footer-category" href="#">Poisson</a></li>
          <li><a class="footer-category" href="#">Oiseaux domestique</a></li>
          <li><a class="footer-category" href="#">Oiseaux sauvages</a></li>
          <li><a class="footer-category" href="#">Voyage dans l’espace!</a></li>
        </ul>
      </div>
      <div class="col d-flex justify-content-center">
        <ul class="px-0">
          <li class="footer-name-category my-1">Info</li>
          <li><a class="footer-category" href="#">Livraison</a></li>
          <li><a class="footer-category" href="#">Payement</a></li>
        </ul>
      </div>
      <div class="col d-flex justify-content-center">
        <ul class="px-0">
          <li class="footer-name-category my-1">Contact</li>
          <li><a class="footer-category" href="tel:0102030405">01 02 03 04 05</a></li>
          <li><address class="footer-category">1 rue Garibaldi, Nîmes</address></li>
        </ul>
      </div>
      <div class="col d-flex align-items-center justify-content-end">
        <a href="index.html">
          <img src="./assets/img/logo.png" alt="">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="footer-legal col d-flex justify-content-center">
        <span class="mx-4">© SpicyDog 2021</span>
        <span class="mx-4">Conditions Générales de Vente</span>
        <span class="mx-4">Mentions légales</span>
      </div>
    </div>
  </div>
</div>
</body>
</html>
