@import "~bootstrap-icons/font/bootstrap-icons.css";

.sale-border {
  background: #8CBAE9;
}

.container {
  width: 1060px;
}

#navbar {
  background: rgba(255, 148, 0, 0.7);
  min-height: 50px;
}

#navbar a {
  color: black;
  font-size: 18px;
}

#navbar a:hover {
  color: #0a84ff;
}

#conseille {
  text-decoration: none;
  color: #0C0701;
  opacity: 50%;
  font-size: 14px;
}

#conseille:hover {
  color: #FF9400;
}

#info-livraison {
  font-size: 14px;
}

.form-control {
  border-radius: 30px;
  max-height: 35px;
}

.form-control[value], .bi-search {
  font-style: italic;
  color: rgba(0, 0, 0, 0.2);
}

.input-group-text {
  border-radius: 30px;
  max-height: 35px;
}

#sale {
  min-height: 486px;
  background-image: url("../assets/img/sale.jpg");
  background-size: cover;
  font-size: 38px;
  margin-bottom: 25px;
}

.product-image {
  max-width: 100%;
  height: 250px;
}

.product-avis {
  min-height: 30px;
}

.product-title {
  min-height: 74px;
}

.product-prix {
  font-size: 18px;
  /*font-weight: bold;*/
}

.my-button {
  background: #FF9400;
  border-radius: 30px;
  font-size: 18px;
  width: 17%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.my-little-button {
  background: #FF9400;
  border-radius: 30px;
  font-size: 12px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.title-category {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  margin-bottom: 10px;
}

.title-category-centre {
  color: #FF9400;
}

.title-category-centre h2 {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding-bottom: 10px;
  font-size: 2.4rem;
}

.marques {
  opacity: 50%;
}

.marques-image {
  height: 80px;
}

.test {
  width: 1060px;
  margin: auto;
}

#top-ventes {
  margin-bottom: 25px;
}

#bons-plans {
  margin-bottom: 55px;
}

#nos-marques {
  margin-bottom: 55px;
}

#reve-espace {
  margin-bottom: 55px;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */
{
  filter: invert(100%);
}

#reve-espace h2 {
  text-align: center;
}

#footer {
  background: rgba(196, 196, 196, 0.3);
  /*min-height: 213px;*/
}

#footer a {
  text-decoration: none;
}

#footer li {
  list-style-type: none;
}

.footer-name-category {
  font-size: 16px;
  color: #000000;
  text-decoration: underline;
}

.footer-category {
  color: #FF9400;
  font-size: 14px;
}

#footer a:hover {
  color: #FF9400;
  text-decoration: underline;
}

.footer-legal {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

